#deleteModal.modal.fade(role="dialog", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal") &#215;
        h4.modal-title 删除记录
      .modal-body
        p 确认要删除吗？
      .modal-footer
        button#delete.btn.btn-default(type='button', data-dismiss="modal") 是
        button#cancle.btn.btn-default(type='button', data-dismiss="modal") 否
