meta(charset='UTF-8')
title bookmark system
link(rel='stylesheet', href='stylesheets/style.css')
link(rel='stylesheet', href='stylesheets/jpage/jPages.css')
link(rel='stylesheet', href='stylesheets/jpage/animate.css')
link(rel='stylesheet', href='css/bootstrap.min.css')
script(type='text/javascript', src='javascripts/jquery.min.js')
script(type='text/javascript', src='javascripts/jPages.min.js')
script(type='text/javascript', src='js/bootstrap.min.js')
script(type='text/javascript', src='javascripts/pager.js')
script(type='text/javascript', src='javascripts/delete.js')
script(type='text/javascript', src='javascripts/add.js')
script(type='text/javascript', src='javascripts/search.js')
