doctype html(lang='en')
head
    include partials/_header.jade
  body
    include partials/_deletemodal.jade
    input#search(type='text')
    p#count
    ul#content
      each bookmark in bookmarks
        li.list
          .main
            p.bookmark #{bookmark.title}
            p.date #{bookmark.date}
            hr.line
          button.delete(value='#{bookmark.title}') delete
    div.holder
