body {
  text-align: center;
  padding-top: 40px;
  color: #5a5a5a;
}
#search {
  height: 35px;
  width: 800px;
}
#content {
  margin: 50px 200px 20px 200px;
  text-align: left;
}
.list {
  list-style-type:none;
}
.main {
  display: inline-block;
  width: 90%;
}
.bookmark {
  margin-bottom: 0px;
  font-size: 23px;
}
.date {
  margin-top: 2px;
  text-align: right;
  font-style: oblique;

}
.line {
  border:1px dashed ;
  border-bottom:0;
}
.delete {
  display: inline;
  margin-left: 10px;
  width: 8%;
}
.holder {
  display: inline;
  width:50%;
}
.add {
  display: inline;
  width:100px;
  margin-right: 400px;
  margin-bottom: 10px;
}

#input-null{
  margin: 0 auto;
  padding: 0 20px;
  display: none;
}
